LOG_LEVEL=INFO
FLASK_DEBUG=0
SIMULATOR_TICK_SECONDS=1
ECLIPSE_SEARCH_HOURS=24
STATE_SYNC_INTERVAL_SECONDS=1
HEARTBEAT_INTERVAL_SECONDS=5
HTTP_REQUEST_TIMEOUT_SECONDS=2
UPSTREAM_TIMEOUT_SECONDS=2
DASHBOARD_PORT=8081
